#main-container{
	font-family: helvetica neue bold;
}

#navigation-main{
	margin-top: 24px;
}

@media (max-width: 800px) {
  
  #navigation-main{
	font-size: 42px;
	}
}

@media (min-width: 801px) {
  
  #navigation-main{
	font-size: 24px;
	}  
}