#main-container{
	font-family: helvetica neue bold;
}

#navigation-main{
	margin-top: 124px;
	margin-bottom: 24px;
}


@media (max-width: 800px) {
  
  #navigation-main{
	font-size: 36px;
	}

#content-1{
	font-size: 42px;
}

}

@media (min-width: 801px) {
  
  #navigation-main{
	font-size: 36px;
	}  

#content-1{
	font-size: 24px;
}
}

body{
	background-color: black;
	color: white;
}